<!DOCTYPE HTML>
<html>
    <head>
        <title>test main page</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <p>当前时间：<%= currentTime %></p>
        <hr/>
    </body>
</html>
